extends layout

block content
  h1= title
  p Welcome to #{title}
  
  for store in locals.data
    section.storeListing
      h1 Store ##{store.STORE}
      p Lat: ##{store.LATITUDE}
      p Long: ##{store.LONGITUDE}
      
  div#map-canvas
  
  script(type='text/javascript', src= "https://maps.googleapis.com/maps/api/js?key=AIzaSyCbWztMBb0WGNLn_mHvZNA5Jf8-c_KkrUk&sensor=true")
  script(type='text/javascript', src= "/js/map.js")
 